# Script specific to ignore
.z_corelight_ecs_installer
# General to Ignore
.DS_Store
.git
.vscode/
.idea/
.testing/
# Backup files / swap
.bak
.BAK
.dpkg-dist
.swp
.tmp
.test
.backup
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class